# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribución
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
develop-eggs/
.eggs/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/
.config/firestorekey.json
firestorekey.json
# VS Code
.vscode/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Thumbnails
._*

# Environments
.env
.env.*

# Docker
*.pid

# Pyright / Mypy / Pyre / Pylint
.mypy_cache/
.pyre/
.pytype/
pylint-report.txt
pylint-global.rc
Dockerfile
docker-compose.yml